.Rproj.user
.Rhistory
.RData
.Ruserdata
UsingFederalDataToMeasureAndImprovePerformance.pdf
BetterInformationForBetterCollegeChoiceAndInstitutionalPerformance.pdf
Analysis_of_Automobile_Prices.pdf
data
Microsoft-Capstone.Rproj
data_processed
